<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6876d53e-71a8-409e-994d-751f41514344/resourcegroups/a320failureconsoleres2/providers/Microsoft.Web/sites/A320FailureConsole2</ResourceId>
    <ResourceGroup>a320failureconsoleres2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://a320failureconsole2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>a320failureconsole2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>A320FailureConsole2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$A320FailureConsole2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:a320failureconsole2dbserver.database.windows.net,1433;Initial Catalog=A320FailureConsole2_db;User ID=pesqair@a320failureconsole2dbserver;Password=$Agueybana1289" Name="Data Source=tcp:a320failureconsole2dbserver.database.windows.net,1433;Initial Catalog=A320FailureConsole2_db;User Id=pesqair@a320failureconsole2dbserver;Password=$Agueybana1289" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="A320FailureConsole.Models.ApplicationDbContext, A320FailureConsole" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="A320FailureConsoleContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:a320failureconsole2dbserver.database.windows.net,1433;Initial Catalog=A320FailureConsole2_db;User ID=pesqair@a320failureconsole2dbserver;Password=$Agueybana1289" Name="Data Source=tcp:a320failureconsole2dbserver.database.windows.net,1433;Initial Catalog=A320FailureConsole2_db;User Id=pesqair@a320failureconsole2dbserver;Password=$Agueybana1289" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="A320FailureConsole.Models.A320FailureConsoleContext, A320FailureConsole" MigrationConfiguration="A320FailureConsole.Migrations.Configuration, A320FailureConsole" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="A320FailureConsoleContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:a320failureconsole2dbserver.database.windows.net,1433;Initial Catalog=A320FailureConsole2_db;User Id=pesqair@a320failureconsole2dbserver;Password=$Agueybana1289</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:a320failureconsole2dbserver.database.windows.net,1433;Initial Catalog=A320FailureConsole2_db;User Id=pesqair@a320failureconsole2dbserver;Password=$Agueybana1289</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>