@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A320 Failure Console</h1>
    <p class="lead">A320 Failure Console is a website designed to activate failures on different systems on the Flight Factor A320 Ultimate for X-Plane 11.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="item">
        <iframe src="https://player.twitch.tv/?channel=pesqair" 
                frameborder="0" 
                allowfullscreen="true" 
                scrolling="no" 
                height="600" 
                width="1066">
        </iframe>
</div>